html {
  height: 100%;
}


body{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

h1, h2{
  text-align: center;
}

/* header section */
.header__logo-title {
    color: #05137d;
    padding-left: 5px;
    font-size: 22px;
}

header button {
  min-width: 100px;
  overflow: hidden;
  max-height: 38px;
} 

.main__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding: 2em;
}

.card-button {
    position: absolute;
    top: 0;
    right: 0;
}

